<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/api/auth/signin" method="post">
        <label for="fname">user:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="lname">password:</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
      </form><br><br>
    <a href="signup.html">
        <button>SIGNUP INSTEAD</button>
    </a>  
</body>
</html>